h3{
    font-size: 38px;
    font-weight: 55;
    margin-bottom: 0px;
    padding-top: 45%;
   }
   input{
    color: #ffffff;
    background-color:	#00A16F;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #ffffff;
    font-size: 18px;
    font-weight: 55;
    width: 60%;
    height: 43px;
    margin-top: 12px;
   }
   .signindiv{
    display: block;
    .signinbtn{
        background-color:#ffffff;
        color: #00A16F;
        margin-top: 10px;
        border-radius: 3px;
       }
       p{
           display: inline-block;
           cursor: pointer;
           padding-left: 25%;
           padding-top: 15px;
       }
   }
   
   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 18px;
    font-weight: 55;
  }